
body, html {
	margin: 0;
}

#login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(255,255,255,0.3);
}

#login form {
	position: absolute;
	background-color: #FFF;
	z-index: 2;
	width: 250px;
	padding: 10px;
	box-sizing: border-box;
	top: 25%;
	left: 0;
	right: 0;
	margin: auto;
}

#login ul {
	list-style: none;
}

#login ul li {
	display: inline-block;;
}

#login ul li input {
	display: none;
}

#login ul li label {
	display: inline-block;;
	padding: 5px;
}

#login ul li input:checked + label {
	background-color: #F9A846;
}

div.player {
	position: absolute;
	z-index: 2;
}